.artist-details {
  flex-grow: 1;
  display: flex;
  gap: var(--muza-spacing-xxl);
  padding-bottom: var(--muza-spacing-xxl);
  margin-bottom: var(--muza-spacing-xl);
  border-bottom: 1px solid var(--muza-light-border-color);

  &-image {
    width: 128px;
    border-radius: 50%;
  }

  &-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: var(--muza-spacing-lg);

    &-title {
      font-size: var(--muza-title-font-size);
      line-height: 1;
      margin-bottom: var(--muza-spacing-sm);
    }

    &-content {
      color: var(--colors_sidebar_foreground_light);
      font-size: var(--muza-subtitle-font-size);
      line-height: 1.25;
      letter-spacing: var(--typography_base_sizes_small_letter_spacing);

      max-width: 60%;
      overflow: hidden;
      display: -webkit-box;
      line-clamp: 2;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      text-overflow: ellipsis;
    }
  }

  &-stats {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: var(--muza-spacing-lg);
    padding-inline-end: var(--muza-spacing-lg);
  }
}

// TODO: delete after Button.tsx is present
.temp-btn {
  border-radius: 9999px;
  background-color: #1d4ed8;
  width: 144px;
  text-align: center;
  padding-block: 8px;
  color: white;
}
