.artist-details {
  flex-grow: 1;
  display: flex;
  gap: var(--muza-spacing-lg);

  &-image {
    width: 128px;
    border-radius: 50%;
  }

  &-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: var(--muza-spacing-lg);

    &-title {
      font-size: var(--muza-title-font-size);
      line-height: 1;
      margin-bottom: var(--muza-spacing-sm);
    }

    &-content {
      color: var(--colors_sidebar_foreground_light);
      font-size: var(--muza-subtitle-font-size);
      line-height: 1.25;
      letter-spacing: var(--typography_base_sizes_small_letter_spacing);

      overflow: hidden;
      display: -webkit-box;
      line-clamp: 2;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      text-overflow: ellipsis;
    }
  }
}
