.stat-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--muza-spacing-xs);

  &-value {
    font-size: var(--muza-subtitle-font-size);
    font-weight: var(--muza-font-weight-medium);
    line-height: 1;
  }

  &-label {
    white-space: nowrap;
    color: var(--colors_muted_foreground_light);
    font-size: var(--muza-primary-font-size);
    line-height: 1.15;
  }
}
