.app-btn {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: var(--muza-spacing-sm);
  padding-block: var(--muza-spacing-sm);
  border-radius: 9999px;
  transition: all 0.3s ease;

  font-size: var(--muza-subtitle-font-size);
  font-weight: var(--muza-font-weight-medium);
  line-height: 1.25;

  &:hover {
    box-shadow: var(--muza-box-shadow-sm);
  }

  &:disabled {
    cursor: default;
    opacity: 0.5;
  }

  //   Sizes
  &-size-sm {
    padding-inline: var(--muza-spacing-md);
  }

  &-size-md {
    padding-inline: var(--muza-spacing-lg);
  }

  &-size-lg {
    padding-inline: var(--muza-spacing-xxl);
  }

  //   Variants
  &-default {
    color: var(--colors_muted_light);
    background-color: var(--colors_primary_light);

    &:hover {
      background-color: color-mix(in srgb, var(--colors_primary_light) 90%, black);
    }
  }

  &-secondary {
    color: var(--colors_primary_foreground_dark);
    background-color: var(--colors_accent_light);

    &:hover {
      background-color: color-mix(in srgb, var(--colors_accent_light) 90%, black);
      box-shadow: var(--muza-box-shadow-xs);
    }
  }

  &-destructive {
    color: var(--colors_destructive_foreground_light);
    background-color: var(--colors_destructive_light);

    &:hover {
      background-color: color-mix(in srgb, var(--colors_destructive_light) 90%, black);
    }
  }

  &-outline {
    color: var(--colors_background_dark);
    background-color: color-mix(in srgb, var(--colors_background_light) 50%, transparent);
    border: 1px solid var(--colors_border_light);

    &:hover {
      border-color: var(--colors_primary_foreground_dark);
      background-color: var(--colors_accent_light);
      box-shadow: var(--muza-box-shadow-xs);
    }
  }

  &-ghost {
    color: var(--colors_background_dark);
    background-color: transparent;

    &:hover {
      background-color: var(--colors_accent_light);
      box-shadow: none;
    }
  }

  &-link {
    color: var(--colors_primary_light);

    &:hover {
      box-shadow: none;
      text-decoration: underline;
    }
  }
}
