.album-details-card {
  display: flex;
  align-items: center;
  background: white;
  border-radius: var(--muza-border-radius-md, 8px);
  flex-direction: column;
  align-items: flex-start;
}

.album-details-card[draggable='true'] {
  cursor: grab;
}

.album-details-card[draggable='true']:active {
  cursor: grabbing;
}

.image-container {
  border-radius: var(--muza-border-radius-sm, 4px);
  overflow: hidden;
  background: var(--muza-image-background-color-bg, #d9d9d9);
  box-shadow: var(--muza-box-shadow, 0 3px 10px rgba(0, 0, 0, 0.2));
  position: relative;

  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
